.Findpw{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.email_h1{
    margin-top: 100px;
    margin-bottom:50px;
    text-align: center;
    color: #354356;
    font-size: 45px;
}

.email_h3{
    text-align: center;
    color:#354356;
}

.btn3{
    background-color: #6C8BA7;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    margin: auto;
}

.email_input{
    width: 285px;
    height: 40px;
    font-size: 15px;
    background-color: #eae8e6;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    margin: auto;
}

.linkFindK{
    margin: auto;
}