.Sendmail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.confirm{
    margin-top: 170px;
    font-size: 25px;
    text-align: left;
}

.pw1_input, .pw2_input{
    width: 285px;
    height: 40px;
    font-size: 15px;
    background-color: #eae8e6;
    margin: 5px 0px;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
}

.btn2{
    background-color: #6c8ba7;
    height: 50px;
    width: 320px;
    border-radius: 5px;
}
