html{
   background-color: #CFDCE8;
}
.Home{
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.homeHeader{
   font-size: 110px;
   margin: auto;
   margin-top: 4%;
   color: #354356;
}
.explain{
   width: 900px;
   height: 300px;
   background-color: white;
   font-size: 20px;    
   margin: auto;
   border-radius: 10px;
}

.btn1{
   background-color: #6C8BA7;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    margin: auto;
}

